# Output directories
/bin/*
!/bin/**/
!/bin/*.bat
!/bin/*.sh
/bin/*.app/
/bin/*.app.dSYM/
/bin/jit/
/bin/Screenshots/
/include/
/lib*/
generated/
/Source/Flock/tolua++-prefix/
/Build/targets/
.vs/

# Output files
/Source/**/*.a
/Source/ThirdParty/LuaJIT/src/host/buildvm
/Source/ThirdParty/LuaJIT/src/host/buildvm_arch.h
/Source/ThirdParty/LuaJIT/src/host/minilua
/Source/Flock/Precompiled.cpp
/Source/Flock/Flock.h
/Source/Flock/Flock.pc
/Source/Flock/FlockAll.h
/Source/Flock/librevision.h

# Compiled shaders
*.vs?
*.ps?

# Eclipse project settings
/.*project
/.settings

# KDevelop project settings
/*.kdev?

# Qt Creator project settings
/CMakeLists.txt.user

# JetBrains IDE project settings
/.idea/

# Code::Blocks project settings
/*.cbp

# Codelite project settings
/*.project
/*.workspace

# Visual Studio Code project settings
/.vscode

# CMake generated build files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
/Source/**/*.cmake
!/Source/ThirdParty/SDL/cmake/*.cmake

!Source/Flock/LuaScript/pkgs/Core/Platform.pkg

# Precompiled header files
*.gch/
*.pch/
*.pch.*

# Custom rake tasks
/.rake/
.rake_t_cache

# Misc.
configure*
*~
*.user
*.swp
.DS_Store
*.exe
*.log
*.bak
Thumbs.db
.directory

# Cppcheck
Cppcheck/
